<div class="mat-elevation-z8">
  <table
    mat-table
    class="full-width-table"
    matSort
    aria-label="Elements"
    [dataSource]="products"
  >
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Preço</th>
      <!-- Aplicando pipe no preço -->
      <td mat-cell *matCellDef="let row">{{ row.price | currency : "BRL" }}</td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ações</th>
      <td mat-cell *matCellDef="let row">
        <a routerLink="" class="details">
          <i class="material-icons">
            menu_open
          </i>
        </a>
        <a routerLink="/products/update/{{ row.id }}" class="edit">
          <i class="material-icons">
            edit
          </i>
        </a>
        <a routerLink="" class="delete">
          <i class="material-icons">
            delete
          </i>
        </a>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <!--

    <mat-paginator
    #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    aria-label="Select page"
  >
  </mat-paginator>

  -->
</div>

<!--

<ul>
  <li *ngFor="let product of products">
    {{product.id}}  {{ product.name }}  {{ product.price }}
  </li>
</ul>

  <li *ngFor="let product of products"></li>
  IMPORTANTÍSSIMO ESSA LINHA DE CÓDIGO
  Aqui vamos ter uma diretiva estrutural renderizando os itens cadastrados
  cada linha será armazenada em uma variável criada localmente chamada product
  onde colocamos a parte de código: "let product"
  Então pegaremos os dados de products, onde colocamos a parte "of products"
  "products" é a variável criada no arquivo .ts nessa parte do código:

  export class ProductReadComponent implements OnInit{

    products: Product[] = []; // Inicializar como array vazio

    constructor(private productService: ProductService) { }
  ...

  Então fazemos uma interpolação para que o conteúdo seja exibido na tela.

  Importante nesse estudo ver como a diretiva estrutural ngFor atua dentro de
  uma tabela de itens.
-->

<!--
  <a routerLink="/products/update/{{ row.id }}" class="edit">

  Estamos criando a url a partir da linha do produto. É um procedimento
  similar ao utilizado no método update da service.


  CUIDADO!!!

    Caminho no app-routing.module.ts
      path: 'products/update/:id'
    Caminho no product-read.component.html
      <a routerLink="/products/update/{{ row.id }}" class="edit">
    Colocamos uma / antes de products
-->
